*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* classi utility */

.d-flex{
  display: flex;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* ticket data */

h1{
  text-align: center;
}

#form_ticket{
  border: 1px solid black;
  border-radius: 10px;
}

.form_top{
  justify-content: space-around;
}

.user_name, .kilometers, .age{
  flex-direction: column;
}

.form_bottom{
  margin: 20px 0;
  justify-content: space-evenly;
}